
  @media (min-width: 1920px) {
    .footer {
      background-color: #087474;
      color: #fff;
      padding: 3em;
      text-align: center;
    }
    
    .social_list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0px;    
    }
    
    .social_list li {
      margin: 0 1em;
    }
    
    .social_list li:hover {
      color: #ffbb33;
    }
    
    .social_list svg {
      font-size: 1.5em;
      cursor: pointer;
    }
    
    .copy_right {
      margin-top: 2em;
    }
    
    .copy_right span {
      font-weight: bold;
      color: #ffbb33;
    }
  }
  
  /* Media query para telas grandes (acima de 1200px) */
  @media (max-width: 1919px) {
    .footer {
      background-color: #087474;
      color: #fff;
      padding: 3em;
      text-align: center;
    }
    
    .social_list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0px;    
    }
    
    .social_list li {
      margin: 0 1em;
    }
    
    .social_list li:hover {
      color: #ffbb33;
    }
    
    .social_list svg {
      font-size: 1.5em;
      cursor: pointer;
    }
    
    .copy_right {
      margin-top: 2em;
    }
    
    .copy_right span {
      font-weight: bold;
      color: #ffbb33;
    }
  }
  
  /* Media query para telas médias (entre 768px e 1199px) */
  @media (max-width: 1199px) {
    .footer {
      background-color: #087474;
      color: #fff;
      padding: 3em;
      text-align: center;
    }
    
    .social_list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0px;    
    }
    
    .social_list li {
      margin: 0 1em;
    }
    
    .social_list li:hover {
      color: #ffbb33;
    }
    
    .social_list svg {
      font-size: 1.5em;
      cursor: pointer;
    }
    
    .copy_right {
      margin-top: 2em;
    }
    
    .copy_right span {
      font-weight: bold;
      color: #ffbb33;
    }
  }
  
  /* Media query para telas pequenas (abaixo de 768px) */
  @media (max-width: 767px) {
    .footer {
      background-color: #087474;
      color: #fff;
      padding: 3em;
      text-align: center;
    }
    
    .social_list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0px;    
    }
    
    .social_list li {
      margin: 0 1em;
    }
    
    .social_list li:hover {
      color: #ffbb33;
    }
    
    .social_list svg {
      font-size: 1.5em;
      cursor: pointer;
    }
    
    .copy_right {
      margin-top: 2em;
    }
    
    .copy_right span {
      font-weight: bold;
      color: #ffbb33;
    }
  }
  
  @media (max-width: 576px) {
    .footer {
      background-color: #087474;
      color: #fff;
      padding: 3em;
      text-align: center;
      margin: 0 auto;
      align-items: center;
      justify-content: center;

    }
    
    .social_list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0px;
    }
    
    .social_list li {
      margin: 0 1em;
    }
    
    .social_list li:hover {
      color: #ffbb33;
    }
    
    .social_list svg {
      font-size: 1.5em;
      cursor: pointer;
    }
    
    .copy_right {
      margin-top: 2em;
    }
    
    .copy_right span {
      font-weight: bold;
      color: #ffbb33;
    }
  }