@media (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #089C9C;
    }

    .list {
        display: flex;
        list-style: none;
        align-items: center;
    }

    .item {
        margin-right: 4em;
        font-size: 1.3rem;
        width: 110px;
    }

    .item a {
        color: #fff;
        text-decoration: none;
    }

    .item a:hover {
        color: #ffbb33;
    }

    .logo {
        width: 20%;
    }

}

@media (max-width: 1199px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #089C9C;
    }

    .list {
        display: flex;
        list-style: none;
        align-items: center;
    }

    .item {
        margin-right: 1em;
        font-size: 1.3rem;
        width: 110px;
    }

    .item a {
        color: #fff;
        text-decoration: none;
    }

    .item a:hover {
        color: #ffbb33;
    }

    .logo {
        width: 35%;
        margin-left: 40px;
    }

}

@media (min-width: 1200px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #089C9C;
    }

    .list {
        display: flex;
        list-style: none;
        align-items: center;
    }

    .item {
        margin-right: 4em;
        font-size: 1.3rem;
        width: 110px;
    }

    .item a {
        color: #fff;
        text-decoration: none;
    }

    .item a:hover {
        color: #ffbb33;
    }

    .logo {
        width: 200px;
        margin-left: 100px;
    }

}
