.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #089C9C;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 4em;
    font-size: 1.3rem;
    width: 110px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}

.logo {
    width: 20%;
}