.company {
  width: 100%;
  max-width: 600px; /* Definindo a largura máxima do conteúdo */
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center;
  justify-content: center;
  height: 85vh;
  margin: 0 auto;
  padding: 0 20px; /* Adiciona espaçamento interno */
  color: #2e4636;
}

.titulo {
  padding-top: 2rem;
}

.paragrafo {
  margin-bottom: 1.5em;
  font-size: 1.2em; /* Aumenta o tamanho do texto para facilitar a leitura */
  line-height: 1.6em; /* Aumenta o espaçamento entre linhas */
  max-width: 900px; /* Limita a largura do parágrafo para melhorar a legibilidade */
  padding-top: 2rem;
}